@model Usuario
@{
    ViewData["Title"] = "Perfil";
}

<body>
    <div id="fondo" class="align-items-center">
        <div >
            <h2 id="textoLight1">@ViewBag.Bienvenida</h2
        ></div>

        <div class="row container-lg col-4 align-items-center">
            <label id="texto">Dinero disponible: @ViewBag.miFondo </label>
            <p id="textoLight1">Ingresá la cantidad de dinero con la que contás en el mes:</p>
            <form method="post"asp-action="ModificarFondo">
                
                <input id="AgregarGasto" for="nuevoFondo" type="number"  name="nuevoFondo" />

                <button class="btn btn-outline-light text-light"  type="submit">Guardar</button>
            </form>
        </div>

        <div id="AgregarGasto" class="row container-lg col-4 align-items-center">
            <form method="post">
                <p id="texto">Podés clasificar tus gastos bajo diferentes etiquetas para poder llevar un mejor control de tu economía</p>
                <p id="textoLight2">O podés hacer un seguimiento de todas las crisis que solucionaste comprando algo porque "me lo merezco", lo que más te sirva</p>
                <a asp-action="NuevaEtiqueta" asp-controller="Etiqueta" class="btn btn-outline-light text-light">Agregar Etiqueta</a>
            </form>
        </div>
       

        <div id="AgregarGasto" class="row container-lg col-4 align-items-center">
            <form method="post">
                <p id="texto">Acá podés agregar todos los gastos que tengas</p>
                <p id="textoLight1">Tratá de no olvidarte de ninguno, para que el registro sea lo más correcto posible</p>
                <button asp-action="NuevoConsumo" asp-controller="Consumo" class="btn btn-outline-light text-light">Agregar Gasto</button>
            </form>
        </div>

     </div>

    
</body>

